body {
    font-family: Arial, sans-serif;
    background-image: url("./img/pizza\ background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 100vh;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 100px auto;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  
  input[type="submit"] {
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    text-transform: uppercase;
  }
  
  .confirmation {
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
    font-size: 16px;
    color: #3c763d;
  }